$wd: 100%;

/*iPad*/
@media (min-width:430px) and (max-width:768px) {
	html {
		width: $wd;
		max-width: $wd;
		overflow-x: hidden;
		body {
			width: $wd;
			max-width: $wd;
			overflow-x: hidden;
			background-image: url(../images/9_768.jpg);
			background-repeat: no-repeat;
			padding-top: 360px;
			figure {
				img {
					width: $wd;
					max-width: $wd;
					overflow-x: hidden;
				}
				font-size: 26px;
			}
			h1 {
				font-size: 60px;
			}
			h2 {
				font-size: 34px;
			}
			h3 {
				font-size: 40px;
			}
			h4 {
				font-size: 36px;
			}
			p {
				font-size: 32px;
			}
			ul {
				font-size: 32px;
			}
			blockquote {
				font-size: 30px;
			}
		}
	}
}

/*iPhone 6,7,8*/
@media (max-width:420px) {
	html {
		width: $wd;
		max-width: $wd;
		overflow-x: hidden;
		body {
			width: $wd;
			max-width: $wd;
			overflow-x: hidden;
			background-image: url(../images/9_375.jpg);
			background-repeat: no-repeat;
			padding-top: 113px;
			overflow-x: hidden;
			figure {
				img {
					width: $wd;
					max-width: $wd;
					overflow-x: hidden;
				}
				font-size: 13px;
			}
			h1 {
				font-size: 50px;
			}
			h2 {
				font-size: 20px;
			}
			h3 {
				font-size: 24px;
			}
			h4 {
				font-size: 21px;
			}
			p {
				font-size: 16px;
			}
			ul {
				font-size: 16px;
			}
			blockquote {
				font-size: 17px;
			}
		}
	}
}

/*PC*/
@media (min-width:769px) and (max-width:1920px) {
	body {
		width: 960px;
		overflow-x: hidden;
		background-image: url(../images/9_1080.jpg);
		background-repeat: no-repeat;
		padding-top: 480px;
		figure {
			img {
				width: 70%;
				height: 70%;
			}
		}
		h1 {
			font-size: 60px;
		}
	}
	}